/*  Homepage Stylesheet  */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

    /* ----------------- Utility Classes  --------------*/

  .primary{
    width:80vw;
    max-width:960px;
    margin: 40px auto;
  }

  nav {
    width: 80vw;
    max-width: 960px;
    margin: 40px auto;
  }
  
  .section {
    width: 80vw;
    max-width: 960px;
    margin: 40px auto;
  }
  /* ----------------- Responsive Images --------------*/

  body {
  font-optical-sizing: auto;
  font-weight:400;
  font-family: "Oswald", serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%233a78e2' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  margin:0;
}



nav ul li a{
  color:#000;
  font-size:1rem;
  padding: 5px 10px;
}

nav ul li a:hover{
  color:midnightblue;
  transition: 0.3s;
}

header.primary h1{
  color:#000;
  text-align:center;
} 

div.section h2,p {
  color: #000;
  margin-top: 0px;
}

div.section h2{
  border-bottom:1px dotted darkgrey;
}

@media screen and (max-width:440px) {
  nav ul {
    flex-direction:column;
    gap:10px;
    max-width:200px;
    margin:20px auto;
  }
  
  nav ul a {
    display:block;
  }
}
