/* CSS Final Project */

/* ------------ Box Sizing Reset ------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-right {
  float:right;
  border:1px solid #c0c0c0;
  padding:5px;
  margin:10px 0 10px 20px;
  max-width: 30vw;
}

.img-left {
  float:left;
  border:1px solid #c0c0c0;
  padding:5px;
  margin:10px 20px 10px 0px;
  max-width: 30vw;
}

.img-center{
  display:block;
  margin:10px auto;
  border:1px solid #c0c0c0;
  padding:5px;
}


/* ----------------- Responsive Images --------------*/
img {
  max-width:100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  color: #000000;
  font-weight: 400;
  background-color: #ffffff;
}

.container {
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
}

/* ------------ Header ------------ */
header.primary {
  background-color: #c9eaf8;
  text-align: center;
  /*text-shadow: 1px 1px #000000;*/
  opacity:80%;
  padding: 5px 10px;
}

header.primary h1 {
    color: #ffffff;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/UNICEF_Logo.png/1200px-UNICEF_Logo.png);
    display: block;
    margin: 0 auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow:hidden;

    width: 180px; 
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

header.primary a {
  color: #fff;
  text-decoration: none;
}

/* ------------ Navigation ------------ */
nav ul {
  background-color: #c9eaf8;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width:500px;
  margin: 10px auto;
  list-style: none;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #0099ff;
  background-color: #0099ff;
  text-shadow: #afaeae;
  font-weight: bold;
  transition:.4s;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
  background-color: #ffffff9a;
  color:#0099ff;
}

/* ------------ Fullscreen Image ------------ */
.fullscreenimage {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 20px;
}

.fullscreenimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

figcaption {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #000;
  margin-bottom: 10px;
}

/* ------------ Articles ------------ */
#articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

article.post {
  width: 30%;
  background-color: #ffffff;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.4s;
  min-height: 420px;
}

article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

article img {
  width: 100%;
  height: auto;
}

article.post figcaption {
  margin-bottom: 10px;
}

article.post h2 {
  margin: 10px 0;
  text-align:left;

}

article.post h2 a {
  text-decoration: none;
  color: #000;
  text-shadow: 1px 1px #c6c6c6;
  
}

article.post h2 + p,
article.post p + p {
  margin: 10px 0;
}

/* ------------ Content Area ------------ */
main #content h2 {
  color: #0099ff;
  text-shadow: 1px 1px #c7baba;
  border-bottom: 1px dotted #e0e0e0;
  font-size: 30px;
}

/* ------------ Layout Sections ------------ */
section {
  width: 45%;
  margin-bottom: 20px;
}


#content {
  margin-right: 20px;
}


aside {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}

.widget-left,
.widget-right {
  width: 45%;
}

.widget {
  background-color: #ddddddc0;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin:10px;
}

aside .container a {
  color:#000;
  display:block;
  text-align:right;
}


/* ------------ Footer ------------ */
footer {
  color: #000;
  padding: 1rem;
  text-align: center;
}

footer a {
  color: #000;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer h6 {
  font-size: 0.8rem;
}

footer p {
  font-size: 0.9rem;
}

#colophon {
  margin-top: 30px;
  background-color: #c9eaf8;
}

/* ------------ Responsive Design ------------ */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  section,
  aside,
  article.post {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0;
  }
}


/* ------------ stories ------------ */

story-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.story-cards header {
  display: flex;
  width: 100%;
}

.story-cards figure {
  width: 40%;
  margin: 0;
  padding: 0;
}

.story-cards figure img {
  width: 100%;
  height: auto;
  border-radius: 8px 0 0 8px;
  margin-top:20px;
}

.story-cards .card-text {
  padding: 20px;
  width: 60%;
}

.story-cards .card-text h3 {
  font-size: 22px;
  margin-top: 0;
  color: #333;
}

.story-cards .card-text p {
  font-size: 16px;
  color: #555;
  margin-top:10px;
  margin-bottom: 20px;
}

.story-cards .card-text a {
  font-size: 16px;
  color: #0072ce;
  text-decoration: none;
  font-weight: bold;
}

.story-cards .card-text a:hover {
  text-decoration: underline;
}






#content h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #000;
  border-left:7.5px solid #bed3e5;
  padding: 5px 0 5px 10px;
}

#content p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
}